.footer{
    display: grid;
    background-color: #232f3e;
    grid-template-columns: repeat(4,300px);
    gap: -30px;
    color: white;
    text-align: center;
   padding-bottom: 30px;
   min-width: 1040px;
}
body{
    width: 100%;
}
.main{
    margin-top: 20px;
}
.head{
    padding-top: 50px;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 30px;
    
}
.last{
    min-width: 1040px;
}
.head1{
    padding-top: 50px;
    font-size: 18px;
    font-weight: bolder
}
.head2{
    padding-top: 50px;
    font-size: 18px;
    font-weight: bolder
}
.head3{
    padding-top: 50px;
    font-size: 18px;
    font-weight: bolder
}
@media screen and (max-width:1020px) {
    .footer{
        display: grid;
       
        background-color: #232f3e;
        grid-template-columns: repeat(4,240px);
        
        color: white;
        text-align: center;
       padding-bottom: 30px;
    }
}
@media  screen and  (max-width: 720px){
    .footer{
        display: grid;
       
        background-color: #232f3e;
        grid-template-columns: repeat(4,240px);
        
        color: white;
        text-align: center;
       padding-bottom: 30px;
    }
    .head{
        width: 200px;
        padding-top: 50px;
        font-size: 14px;
        font-weight: bolder;
        margin-left: 40px;
        
    }
    
    .head1{
        padding-top: 50px;
        font-size: 14px;
        font-weight: bolder;
        margin-left: 60px;
        width: 140px;
    }
    .head2{
        padding-top: 50px;
        font-size: 14px;
        font-weight: bolder;
       margin-left: 55px;
       width: 150px;
    }
    .head3{
        width: 140px;
        margin-left: 40px;
        padding-top: 50px;
        font-size: 14px;
        font-weight: bolder;
    }
    p{
        font-size: 10px;
        margin-left: 85px;
        width: 100px;
    }
    body{
        width: 100%;

    }
  
}
@media  screen and (max-width: 420px){
    .footer{
        display: grid;
       
        background-color: #232f3e;
        grid-template-columns: repeat(4,220px);
        gap: 10px;
        color: white;
        text-align: center;
       padding-bottom: 30px;
    }
    .head{
        width: 200px;
        padding-top: 50px;
        font-size: 15px;
        font-weight: bolder;
       
    }
    
    .head1{
        width: 200px;
        padding-top: 50px;
        font-size: 15px;
        font-weight: bolder;
       
    }
    .head2{
        width: 200px;
        padding-top: 50px;
        font-size: 15px;
        font-weight: bolder;
       
    }
    .head3{
        width: 200px;
        padding-top: 50px;
        font-size: 15px;
        font-weight: bolder;
    }
    p{
        font-size: 14px;
        margin-left: 85px;
        width: 100px;
    }
    body{
        width: 100%;

    }
 
}